<footer>
    <div class="   bottom-0 w-full flex items-center justify-center">
        <span>Inventory Management System</span>
        <span>
            <img src="logo-dark.png" alt="" class="h-8 ">
        </span>
    </div>
</footer>