@using WebUI.Components.Layout.Sidebar
@using WebUI.Components.Layout.NavigationBar


@inherits LayoutComponentBase

<div class="flex ">
    <div>
        <AuthorizeView>


            <Content />

        </AuthorizeView>
    </div>
    <div class="flex flex-col w-full">
        <div> <NavItems></NavItems></div>
        <div> @Body</div>
   
    </div>

</div>


