

<div>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>

</div>
<SfSkeleton Shape="SkeletonType.Text" Width="100%" Height="25px"></SfSkeleton>